@import "./mixins/poly-fluid-sizing";

.page-certification {

}

.certification-container {
    max-width: 1034px;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}

.certification-content {
    width: 1004px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.certification-content img {
  display: block;
  max-width: 100%;
}

.certification-content .name,
.certification-content .contest,
.certification-content .agency {
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    color: rgb(18, 44, 80);
    font-weight: bold;
    line-height: 1.2;
    position: absolute;

    @include pfs("font-size", (
        320px: 7.98px,
        575px: 15.22px
    ));

    @media (min-width: 576px) {
        font-size: 13.44px;
    }

    @media (min-width: 768px) {
        font-size: 13.2px;
    }

    @media (min-width: 992px) {
        font-size: 21.7px;
    }

    @media (min-width: 1200px) {
        font-size: 34px;
  }
}

.certification-content .name {
    text-align: center;
    left: 0;
    width: 100%;

    @include pfs("top", (
        320px: 173px,
        575px: 332px
    ));

    @media (min-width: 576px) {
        top: 293px;
    }

    @media (min-width: 992px) {
        top: 474px;
    }

    @media (min-width: 1200px) {
        top: 615px;
    }
}

.certification-content .contest {
    @include pfs("left", (
        320px: 147px,
        575px: 281px
    ));

    @include pfs("top", (
        320px: 207px,
        575px: 396px
    ));

    @media (min-width: 576px) {
        left: 248px;
        top: 349px;
    }

    @media (min-width: 992px) {
        left: 401px;
        top: 565px;
    }

    @media (min-width: 1200px) {
        left: 526px;
        top: 737px;
    }
}

.certification-content .agency {
    @include pfs("left", (
        320px: 119px,
        575px: 228px
    ));

    @include pfs("top", (
        320px: 227px,
        575px: 436px
    ));

    @media (min-width: 576px) {
        left: 201px;
        top: 384px;
    }

    @media (min-width: 992px) {
        left: 325px;
        top: 622px;
    }

    @media (min-width: 1200px) {
        left: 393.42px;
        top: 810.1px;
    }
}

.date-1, .date-2 {
    line-height: 1.2;
    position: absolute;
    color: rgb(18, 44, 80);
}

.date-1 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;

    @include pfs("left", (
        320px: 60px,
        575px: 114px
    ));

    @include pfs("top", (
        320px: 250px,
        575px: 477px
    ));

    @include pfs("font-size", (
        320px: 6.65px,
        575px: 12.68px
    ));

    @media (min-width: 576px) {
        left: 101px;
        top: 421px;
        font-size: 11.19px;
    }

    @media (min-width: 992px) {
        left: 163px;
        top: 681px;
        font-size: 18.07px;
    }

    @media (min-width: 1200px) {
        left: 214px;
        top: 892px;
        font-size: 23.69px;
    }
}

.date-2 {
    font-family: "Arial";
    font-weight: 700;

    @include pfs("left", (
        320px: 162px,
        575px: 308px
    ));

    @include pfs("top", (
        320px: 294px,
        575px: 561px
    ));

    @include pfs("font-size", (
        320px: 3.96px,
        575px: 7.54px
    ));

    @media (min-width: 576px) {
        left: 272px;
        top: 496px;
        font-size: 6.66px;
    }

    @media (min-width: 992px) {
        left: 440px;
        top: 801px;
        font-size: 10.76px;
    }

    @media (min-width: 1200px) {
        left: 577px;
        top: 1049px;
        font-size: 14.1px;
    }
}