$body-bg: #0e223d;
$body-color: #fff;
$primary: rgb(29,141,198);
$modal-content-bg: $body-bg;
$pagination-bg: #132d4e;
$pagination-disabled-bg: $body-bg;
$pagination-active-bg: transparent;
$pagination-active-border-color: $primary;


// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';


html {
  box-sizing: border-box;
  font-size: 75%;

  @media (min-width: 992px) {
    font-size: 100%; // 1rem = 10px, 10px/16px = 62.5%
  }
}
.btn {
  font-size : 12pt;
  background-color: #afd139;
  border-color: #afd139;
  color: white !important;
}

.btn-prev, .btn-next {
  box-sizing: border-box;
  min-width: 100px;
  width:auto;
  font-size:13pt;
  line-height: 1.4;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .btn-primary:hover{
  color: #fff !important;
  background-color: #afd139;
  border-color: #afd139;
}
.btn-primary {
  color: #fff !important;
  &:hover, &:focus {
    color: #fff !important;
  }
}