<template>
        <div class="login">
            <div class="container login-container">
                <div class="text-center">
                    <div class="logo">
                        <img alt="Vue logo" src="../../assets/logo-vu-duc.png">
                    </div>
                    <h4 class="my-4">Chào mừng bạn đến với Học Viện Vũ Đức</h4>
                    <p>Đăng nhập bằng số điện thoại đã đăng ký với hệ thống</p>

                    <div class="form-group">
                        <input v-model="phone" v-on:change="validateInput()" placeholder="Nhập số điện thoại" class="form-control" type="tel">
                        <small v-show="!formValidated" id="passwordHelpBlock" class="form-text text-muted text-left">
                            {{errorMessage}}
                        </small>
                    </div>
                    <div class="form-group">
                        <button v-on:click="login()" class="btn vd btn-block" :disabled="disable">Đăng nhập</button>
                    </div>

                </div>
            </div>
        </div>
</template>

<script>
    import api from  '../../api';
    import { eBus } from '../../utils/eventbus';
    export default {
        name: "loginApp",
        data() {
            return {
                validateError : false,
                errorMessage : '',
                phone : '',
                formValidated: false,
                disable: false,
            }
        },
        created(){
            let token = this.$route.query.token;
            if (token){
                localStorage.setItem('access_token', token);
                eBus.$emit('login-success');
                setTimeout(function () {
                    window.location.href = '/'
                },1500);
            }
        },
        methods: {
            login(){
                this.validateInput();
                if(this.formValidated){
                    this.disable = true;
                    api.login(this.phone).then(res => {
                        localStorage.setItem('otp_sent_phone', this.phone);
                        this.$router.push('/otp')
                        console.log(res);
                    }).catch(err => {
                        this.disable = false;
                        console.log(err);
                        this.errorMessage = 'Số điện thoại không tồn tại';
                        this.formValidated = false;
                    });
                }
            },
            validateInput(){
                if(!this.phone){
                    this.errorMessage = 'Vui lòng nhập số điện thoại';
                    this.formValidated = false;
                }else {
                    this.formValidated = true;
                    let regex = /^[0-9]{9,11}$/;
                    if (this.phone.match(regex)) {
                        this.formValidated = true;
                        this.errorMessage = ''
                    }
                    else {
                        this.errorMessage = 'Vui lòng nhập đúng số điện thoại';
                        this.formValidated = false;
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .logo{
        text-align: center;
    }
    .logo img{
        width: 200px;
        max-width: 100%;
    }
    .login{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #132d4e;
    }
    .login-container{
        width: 600px;
        max-width: 100%;
    }
    ::-webkit-input-placeholder { /* Edge */
         color: rgba(255, 255, 255, 0.8);
     }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(255, 255, 255, 0.8);
    }

    ::placeholder {
        color: rgba(255, 255, 255, 0.8);
    }
</style>