<template>
    <div class="main-page">
<!--        <nav class="navbar navbar-dark bg-custom-1 app-header navbar-expand fixed-top">-->
<!--            <div class="container">-->
<!--                <router-link class="navbar-brand" to="/">-->
<!--                    <img class="logo" alt="Vue logo" src="../assets/logo-vu-duc.png">-->
<!--                </router-link>-->
<!--                <div class="" id="navbar-list-2">-->
<!--                    <div class="mr-auto"></div>-->
<!--                    <ul class="navbar-nav">-->
<!--                        <li class="nav-item active">-->
<!--                            <a class="nav-link" href="#">{{profile.name}}</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <span @click="logout()" class="nav-link"><font-awesome-icon icon="sign-out-alt" /></span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
        <nav class="navbar navbar-dark bg-custom-1 app-header navbar-expand fixed-top">
            <div class="container">
                <a @click="comeBack()" class="nuxt-link-active"><i aria-label="icon: left" class="mr-1 anticon anticon-left"><svg viewBox="64 64 896 896" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false" class=""><path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path></svg></i>Quay lại
                </a>
            </div>
        </nav>
        <div class="container">
            <h2 class="text-center">Kết quả bài thi</h2>
            <br>
            <h4 class="text-success text-center mb-4 bounce animated" v-if="is_pass">
                Chúc mừng {{profile.name}} đã đạt cấp độ {{curLevel.agency.name}} trong bài thi {{this.category.name}}
                <div class="big"><font-awesome-icon icon="laugh-wink"></font-awesome-icon></div>
            </h4>
            <h4 class="text-danger text-center mb-4 fadeIn animated" v-else>
                Rất tiếc. Bạn chưa vượt qua được bài thi
                <div class="big"><font-awesome-icon icon="frown"></font-awesome-icon></div>
            </h4>
            <div class="row mb-3 justify-content-center">
                <div class="row col-12 col-md-4">
                    <div class="col-8">Tổng đáp án đúng</div>
                    <div class="col-4 text-right">{{correct}}/{{total}}</div>
                    <div class="col-8">Số đáp án đúng tối thiểu</div>
                    <div class="col-4 text-right">{{min}}</div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <b-link class="btn btn-primary mr-2" @click="reTry()" v-if="!is_pass">Thi lại</b-link>
                <b-link class="btn btn-next" to="/">Trang chủ</b-link>
                <template v-if="is_pass">
                    <b-link class="btn btn-primary ml-2" @click="newExam()" v-if="is_pass">Thi cấp độ tiếp theo</b-link>
                </template>
                <b-button v-if="is_pass" v-b-modal.certification class="ml-2">Xem chứng chỉ</b-button>
            </div>
        </div>

        <b-modal v-if="is_pass" id="certification" v-model="modal" size="xl">
            <div class="certification-content" id="certification-content">
                <img src="../assets/giay-chung-nhan.jpg" alt />
                <div class="name">{{profile.name}}</div>
                <div class="contest">{{category.name}}</div>
                <div class="agency">{{curLevel.agency.name}}</div>
                <div class="date-1">Ngày {{ $moment().date() }} tháng {{ $moment().month() + 1 }} năm {{ $moment().year() }}</div>
                <div class="date-2">TP HCM, ngày {{ $moment().date() }} tháng {{ $moment().month() + 1 }} năm {{ $moment().year() }}</div>
            </div>
            
            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <a class="btn btn-next btn-primary" @click="handleDownload">Tải xuống hình ảnh</a>
                <!-- Emulate built in modal footer ok and cancel button actions -->
                <b-button size="sm" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
            </template>
        </b-modal>

    </div>
</template>

<script>
    import html2canvas from 'html2canvas'
    // import { eBus } from '../utils/eventbus';
    import api from  '../api';
    import mixins from '../mixins';
    export default {
        name: "exam",
        mixins: [mixins],
        data(){
            return {
                agency_id: 0,
                category_id: 0,
                correct: 0,
                is_pass: false,
                min: 0,
                total: 0,
                curLevel: 0,
                is_max_level: false,
                category: {},
                modal: true,
            }
        },
        created() {
            let has_result = localStorage.getItem('has_result');
            if (!has_result || has_result === 'null'){
                this.$router.push('/')
            }else {
                localStorage.setItem('has_result',null)
            }
            this.agency_id = this.$route.params.agency_id;
            this.category_id = this.$route.params.category_id;
            this.correct = this.$route.params.correct;
            let is_pass = this.$route.params.is_pass;
            if (is_pass !== '0' && is_pass !== 0){
                this.is_pass = true
            }
            this.min = this.$route.params.min;
            this.total = this.$route.params.total;
        },
        mounted () {
            let token = localStorage.getItem('access_token');
            if (!token || token === 'null'){
                this.$router.push('/login')
            }
            this.getCurrentLevelPerCategory();
            api.getCategory(this.category_id).then(res => {
                this.category = res.data.data;
            });
        },
        methods:{
            comeBack() {
                window.location.href = '/';
            },
            reTry: function () {
                this.$router.push({
                    name: 'exam',
                    params: {
                        category_id: this.category_id,
                        agency_id: this.agency_id
                    }})
            },
            newExam: function () {
                if (this.is_max_level){
                    this.$bvModal.msgBoxConfirm('Đã đạt level cao nhât. Bạn có muốn tiếp tục?', {
                        title: '',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'danger',
                        okTitle: 'Tiếp tục',
                        cancelTitle: 'Quay lại',
                        footerClass: 'p-2',
                        hideHeaderClose: false,
                        centered: true
                    })
                        .then(value => {
                            if (value){
                                this.$router.push({
                                    name: 'exam',
                                    params: {
                                        category_id: this.category_id,
                                        agency_id: this.curLevel.agency.id
                                    }})
                            }
                        })
                        .catch(res => {
                            console.log(res.message)
                        });
                }else {
                    this.$router.push({
                        name: 'exam',
                        params: {
                            category_id: this.category_id,
                            agency_id: this.curLevel.agency.id
                        }})
                }
            },
            getCurrentLevelPerCategory: function () {
                api.getAccountDetailByCat(this.category_id).then(res => {
                    this.curLevel = res.data.data;
                    this.is_max_level = this.curLevel.is_max_level;
                }).catch(err => {
                    console.log(err)
                });
            },

            handleDownload() {
                const el = document.querySelector('#certification-content');
                const elRect = el.getBoundingClientRect();
                const opts = window.innerWidth < 1200
                    ? { x: 98, y: 102, width: 1024, height: 1308, windowWidth: 1200 }
                    : { x: elRect.x, y: elRect.y, width: 1024, height: 1308 };

                html2canvas(el, opts).then((canvas) => {
                    const data = canvas
                        .toDataURL('image/png')
                        .replace(/^data:image\/png/, 'data:application/octet-stream');

                    const clone = document.createElement('a');
                    clone.setAttribute("download", `hvvd_certificate_${this.profile.name}_${this.category.name}_${this.curLevel.agency.name}.png`);
                    clone.setAttribute("href", data);
                    document.body.appendChild(clone);
                    clone.click();
                    document.body.removeChild(clone);
                });

            }
        }
    }
</script>

<style type="scss">
    .big{
        font-size: 58px;
        margin: 10px 0;
    }

    .container {
        font-size: 12pt;
        padding: 10px 0px;
    }

    @-webkit-keyframes bounce {
        from,
        20%,
        53%,
        80%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        40%,
        43% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
        }

        70% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
        }
    }

    @keyframes bounce {
        from,
        20%,
        53%,
        80%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        40%,
        43% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
        }

        70% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
        }
    }

    .bounce {
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }


    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

</style>

<style lang="scss" src="../assets/scss/certification.scss" scoped></style>