<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="main-page">
        <nav class="navbar navbar-dark bg-custom-1 app-header navbar-expand fixed-top">
<!--        <div class="container">-->
<!--            <router-link class="navbar-brand" to="/">-->
<!--                <img class="logo" alt="Vue logo" src="../assets/logo-vu-duc.png">-->
<!--            </router-link>-->
<!--            <div class="" id="navbar-list-2">-->
<!--                <div class="mr-auto"></div>-->
<!--                <ul class="navbar-nav">-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="#">{{profile.name}}</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <span @click="logout()" class="nav-link"><font-awesome-icon icon="sign-out-alt" /></span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
            <div class="container">
                <a @click="comeBack()" class="nuxt-link-active"><i aria-label="icon: left" class="mr-1 anticon anticon-left"><svg viewBox="64 64 896 896" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false" class=""><path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path></svg></i>Quay lại
                </a>
            </div>
    </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="marquee-wrapper mb-5">
                        <div class="marquee">
                            <div class="marquee__content" :style="{ width: (200 * recentExam.length) + '%', 'animation-duration': (10 * recentExam.length) + 's' }">
                                <ul v-for="index in 3" :key="index" class="marquee__list" s>
                                    <li v-for="(item, i) in recentExam" :key="i">
                                        {{ item.account.name }} vừa thi {{ item.category.name }} - {{ item.agency.name }} - {{ item.is_pass ? 'Đậu' : 'Rớt' }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="col-12 text-center">
                                <b-button variant="primary" style="margin-bottom: 15%; text-align: center;" v-b-modal.modal-prevent-closing>
                                    Thi ngay
                                </b-button>
                            </div>

                            <div class="col-12 text-center">
                                <img height="80" width="100" class="mx-auto mb-1"  src="../assets/svg/laurel-wreath.png">
                            </div>
                            <h3 class="text-center pb-2 text-vd">Bảng xếp hạng</h3>
                        </div>
                    </div>
                    <b-table class="custom" responsive hover :busy="tableRankBusy"  :items="tableRank.items" :fields="tableRank.fields">
                        <template v-slot:cell(index)="data">
                            <IconGoldMedal v-if="data.index === 0" width="2.5rem" height="2.5rem"/>
                            <IconSilverMedal v-else-if="data.index === 1" width="2.5rem" height="2.5rem"/>
                            <IconBronzeMedal v-else-if="data.index === 2" width="2.5rem" height="2.5rem"/>
                            <span v-else class="id">{{ data.index + 1 }}</span>
                        </template>
                        <template v-slot:cell(account)="data">
                            {{ data.item.account.name }}
                        </template>
                        <template v-slot:cell(agency)="data">
                            {{ data.item.agency.name }}
                        </template>
                        <template v-slot:cell(category)="data">
                            {{ data.item.category.name }}
                        </template>
                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                    </b-table>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-lg-5">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="text-vd pb-2 d-flex align-items-center">Thành tích<IconTrophy width="1.75rem" height="1.75rem" class="icon-trophy ml-2"/></h3>
                        </div>
                        <div class="col-6 text-right">
                            <b-button variant="primary" class="btn-play" v-b-modal.modal-prevent-closing>
                                Thi ngay
                            </b-button>
                        </div>
                    </div>
                    <b-table class="table" responsive outlined striped hover :busy="tableResultBusy" :items="tableResult.items" :fields="tableResult.fields">
                        <template v-slot:cell(category)="data">
                            {{ data.item.category.name}}
<!--                            <b-link @click="askForExam()">{{ data.item.category.name}}</b-link>-->
                        </template>
                        <template v-slot:cell(agency)="data">
                            {{ data.item.agency.name }}
                        </template>

                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                    </b-table>
                </div>
                <div class="col-12 col-lg-7">
                    <h3 class="text-vd pb-2 mt-4 mt-lg-0 d-flex justify-content-center align-items-center">Lịch sử thi <IconScroll width="1.75rem" height="1.75rem" class="ml-2"/></h3>
                    <b-table class="table" responsive outlined striped hover :busy="tableHistoryBusy"  :items="tableHistory.items" :fields="tableHistory.fields">
                        <!-- Optional default data cell scoped slot -->
                        <template v-slot:cell(category)="data">
                            {{ data.item.category.name }}
                        </template>
                        <template v-slot:cell(agency)="data">
                            {{ data.item.agency.name }}
                        </template>
                        <template v-slot:cell(is_pass)="data">
                            {{ data.item.is_pass?'Đậu':'Rớt' }}
                        </template>
                        <template v-slot:cell(total_question)="data">
                            {{ data.item.total_correct+'/'+data.item.total_question }}
                        </template>
                        <template v-slot:cell(created_at)="data">
                            {{ $moment(data.item.created_at).format('MM-DD-YYYY') }}
                        </template>

                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                    </b-table>
                    <div class="overflow-auto">
                        <b-pagination-nav class="nav-table" v-model="cur_page" :link-gen="linkGen" :number-of-pages="last_page" use-router></b-pagination-nav>
                    </div>

                </div>
            </div>
        </div>
        <b-modal
                centered
                id="modal-prevent-closing"
                ref="modal"
                title="Chọn danh mục"
                cancelTitle="Quay lại"
                okTitle="Thi ngay"
                @show="resetModal"
                @hidden="resetModal"
                @ok="doExam"
        >
            <b-form-select v-model="category_id" :options="categories"
                           value-field="id"
                           text-field="name"
            ></b-form-select>
        </b-modal>
    </div>
</template>

<script>
    import { eBus } from '../utils/eventbus';
    import api from  '../api';
    import mixins from '../mixins';
    import IconTrophy from '../assets/svg/trophy.svg'
    import IconScroll from '../assets/svg/scroll.svg'
    import IconGoldMedal from '../assets/svg/gold-medal.svg'
    import IconSilverMedal from '../assets/svg/silver-medal.svg'
    import IconBronzeMedal from '../assets/svg/bronze-medal.svg'

    export default {
        name: "home",
        mixins: [mixins],

        components: {
            IconTrophy,
            IconScroll,
            IconGoldMedal,
            IconSilverMedal,
            IconBronzeMedal,
        },

        data(){
            return{
                showModal: false,
                last_page: 1,
                cur_page: 1,
                modalShow: false,
                categories: [],
                category_id: null,
                agency_id: null,
                tableHistoryBusy: true,
                tableResultBusy: true,
                tableRankBusy: true,
                recentExam: [],
                tableHistory: {
                    fields: [
                        {
                            key: 'category',
                            label: 'Danh mục',
                            sortable: true
                        },
                        {
                            key: 'agency',
                            label: 'Cấp độ',
                            sortable: false
                        },
                        {
                            key: 'is_pass',
                            label: 'Kết quả',
                            sortable: false
                        },
                        {
                            key: 'total_question',
                            label: 'Đúng/sai',
                            sortable: false
                        },
                        {
                            key: 'created_at',
                            label: 'Thời gian',
                            sortable: true
                        }
                    ],
                    items: [],
                },
                tableResult: {
                    isBusy: false,
                    fields: [
                        {
                            key: 'category',
                            label: 'Danh mục',
                            sortable: true
                        },
                        {
                            key: 'agency',
                            label: 'Cấp độ',
                            sortable: false
                        },
                    ],
                    items: [],
                },
                tableRank: {
                    isBusy: true,
                    fields: [
                        'index',
                        {
                            key: 'account',
                            label: 'Tài khoản',
                            sortable: false
                        },
                        {
                            key: 'agency',
                            label: 'Cấp độ',
                            sortable: false
                        },
                        {
                            key: 'category',
                            label: 'Danh mục',
                            sortable: false
                        },
                    ],
                    items: [],
                },
                pagination:{
                    itemsPerPage: 7,
                    align: 'center',
                    visualStyle: 'select'
                }
            }
        },

        created() {
            api.getAccountLevels().then(res => {
                this.tableResultBusy = false;
                this.tableResult.items = res.data.data
                console.log(this.tableResult.items);
            });

            api.getCategoryList().then(res => {
                this.categories = res.data.data.data;
                this.category_id = this.categories.length && this.categories[0].id;
                this.getRankList();
            });

            this.getHistory(this.cur_page);

            api.getRecentExam()
                .then(res => res.data)
                .then(result => {
                    this.recentExam = result.data || []
                })
                .catch(err => console.log(err));
        },

        mounted() {
            eBus.$once('login-success', () => {
                this.$notify({
                    group: 'foo',
                    title: 'Đăng nhập thành công',
                    text: '',
                    speed: 1000,
                    type: 'success',
                });
            });
        },

        methods: {
            comeBack() {
                window.location.href = 'http://cms.vuduc.com.vn/viewapp/notifications/?token=' + localStorage.getItem('access_token');
            },
            getRankList(){
                this.tableRankBusy = true;
                api.getRankList().then(res => {
                    this.tableRankBusy = false;
                    this.tableRank.items = res.data.data
                });
            },
            getHistory(numPage){
                api.getExamHistory(numPage).then(res => {
                    this.tableHistoryBusy = false;
                    this.tableHistory.items = res.data.data.data
                    this.last_page = res.data.data.last_page
                });
            },
            askForExam(){
                this.showModal = true
            },
            linkGen(pageNum) {
                return pageNum === 1 ? '?' : `?page=${pageNum}`
            },
            doExam(){
                this.findAgencyByCategory(this.category_id);
                this.$router.push('/exam/'+this.category_id+'/'+this.agency_id)
            },
            resetModal(){

            },
            findAgencyByCategory(cat_id){
                let self = this;
                this.tableResult.items.forEach(function (v) {
                    if (cat_id === v.category.id){
                        self.agency_id = v.agency.id
                    }
                });
            }
        },

        watch: {
            cur_page: function (value) {
                this.getHistory(value);
            }
        }
    }
</script>

<style lang="scss">
    .container {
        font-size: 12pt;
        padding: 10px 0px;
    }

    .btn-play {
        margin-bottom: 10px;
        box-sizing: border-box !important;
        min-width: 100px !important;
        width:auto !important;
        font-size:13pt !important;
        line-height: 1.4 !important;
    }

    .table{
        background-color: rgb(29,141,198);
        color: white;
        border: solid 1px white;
        border-radius: 6px;
        max-height: 500px;
    }

    .custom{
        padding: 10px;
        background-color: rgb(29,141,198);
        border: solid 1px white;
        border-radius: 6px;
        max-height: 500px;
        tr:first-child{
            th, td{
                border-top: none;
            }
        }
        /*tr:nth-child(1){*/
        /*    background-color: #e51c60;*/
        /*    color: white;*/
        /*}*/
        /*tr:nth-child(2){*/
        /*    background-color: #47348f;*/
        /*    color: white;*/
        /*}*/
        /*tr:nth-child(3){*/
        /*    background-color: #2ea4e2;*/
        /*    color: white;*/
        /*}*/
        thead{
            display: none;
        }
        th, td {
            border-top: none;
            vertical-align: middle !important;

            &:first-child {
                text-align: center;
            }
        }
        .id{
            color: white;
        }

        tbody {
            tr:first-child {
                font-weight: 700;
            }
            tr:nth-child(2) {
                font-weight: 600;
            }
            tr:nth-child(3) {
                font-weight: 500;
            }
        }
    }

    .marquee-wrapper {
        width: 100%;
        overflow: hidden;
    }

    .marquee {
        margin: 0 auto;
        width: 730px;
        height: 30px;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;

        background: repeating-linear-gradient(-45deg,#132d4e 0%, rgb(29,141,198) 25%, #132d4e 50%);
        background-size:600vw 600vw;
        animation: slide 10s infinite linear forwards;
    }

    // .marquee:before, .marquee:after {
    //     position: absolute;
    //     top: 0;
    //     width: 50px;
    //     height: 30px;
    //     content: "";
    //     z-index: 1;
    // }

    // .marquee:before {
    //     left: 0;
    //     background: linear-gradient(to right, #fff 10%, transparent 80%);
    // }
    // .marquee:after {
    //     right: 0;
    //     background: linear-gradient(to left, #fff 10%, transparent 80%);
    // }

    .marquee__content {
        width: 600%;
        display: flex;
        line-height: 30px;
        animation: marquee 30s linear infinite forwards;
    }

    .marquee__content:hover {
        animation-play-state: paused;
    }

    .marquee__list {
        display: flex;
        justify-content: space-around;
        width: 33.33%;
        /* reset list */
        list-style: none;
        padding: 0;
        margin: 0;

        color: #fff;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-66.6%);
        }
    }

    @keyframes slide{
        0%{
            background-position-x: 0%;
        }
        100%{
            background-position-x: 600vw;
        }
    }
</style>
